h1{
    text-align:center;
    background-color:red;
    color:white;
    line-height:50px;
    margin-bottom:40px;
}
.Flexbox{
   border:2px solid black;
   padding:20px;
   display:flex;
    gap:30px;
}
.box{
    border:2px solid blue;
    padding:10px;
    background-color:lightgray;
}
.Flexbox-column{
    border:2px solid black;
    padding :20px;
    display:flex;
    gap:20px;
    flex-direction:column;
}
.box-column{
    text-align:center;;
    gap:20px;
    border:2px solid blue;;
    padding:10px;
    background-color:lightgray;
}
.Flexbox-justify{
    border:2px solid black;
    padding :20px;
    display:flex;
    gap:20px;
    justify-content:center;
     margin-bottom:20px;
}
.box-justify{
    text-align:center;;
    gap:20px;
    border:2px solid blue;;
    padding:10px;
    background-color:lightgray;
  
}
.start-end{
    border:2px solid black;
    padding:20px;
    display:flex;
    justify-content:space-between;
    

}
.box-start-end{
   
    border:2px solid blue;
    padding:10px;
    background-color:lightgray;
}
.Flexbox-align{
    border:2px solid black;
    padding :20px;
    display:flex;
    gap:20px;
    align-items:center;
     margin-bottom:20px;
     height:200px;
}
.box-align{
    border:2px solid blue;;
    padding:10px;
    background-color:lightgray;
}
.box-h{
    height:100px;
    width:50px;
    border:2px dotted red;
    padding:20px;
}
.Flexbox-wrap{
    border:2px solid black;
    padding :50px;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}
.box-wrap{
    border:2px solid blue;;
    padding:10px;
    background-color:lightgray;
    width:100px;
    height:100px;
}
.Flexbox-gap{
    border:2px solid black;
    padding :20px;
    display:flex;
    gap:50px;
     margin-bottom:20px;
}
.box-gap{
    border:2px solid blue;;
    padding:10px;
    background-color:lightgray;
}
.Flexbox-grow{
    border:2px solid black;
   padding:20px;
   display:flex;
}
.box-grow-1{
    border:2px solid blue;;
    padding:10px;
    color:red;
    display:flex;
    flex-grow:1;
    margin:5px;
     background-color:lightgray;
    
}   
.box-grow-2{
    border:2px solid blue;;
    padding:10px;
   margin:5px;
    color:red;
     background-color:lightgray;
   
}   
.Flexbox-shrink{
    border:2px solid black;
   padding:20px;
   display:flex;
  
}
.box-shrink-1{
    border:2px solid blue;;
    padding:10px;
    color:red;
    display:flex;
    flex-shrink:1;
    margin:5px;
     background-color:lightgray;
    
}
.Flexbox-basis{
    border:2px solid black;
    padding:10px;
    display:flex;
    gap:20px;
}
.box-basis-100{
    border:2px solid blue;;
    padding:10px;
    color:red;
    display:flex;
    flex-basis:100px;
     background-color:lightgray;
    
}
.box-basis-150{
    border:2px solid green;
    padding:10px;
    display:flex;
    gap:20px;
}
.box-basis-auto{
    border:2px solid yellow;
    padding:10px;
    display:flex;
    flex-basis: auto;
    background-color: red;
}
.Flexbox-order{
    background-origin: padding-box;
    border:2px solid black;
    padding:20px;
    display:flex;

    
}
.order-1{
    border:2px solid blue;;
    padding:10px;
    color:red;
    display:flex;
    order:2;
     background-color:lightgray;
    
}
.order-2{
    border:2px solid green;
    padding:10px;
    color:red;
    display:flex;
    order:1;
     background-color:lightgray;
    
}
.align-self{
     display: flex;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 10px;
   
   
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.box{
    
  width: 80px;
  height: 60px;
  background: lightblue;
  border: 1px solid #888;
  text-align: center;
  line-height: 60px;
}
.center {
  align-self: center;
  align-self: center;
}
